* {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

body {
    height: 1000px;
    background: linear-gradient(#FFBE98, #BCB4FF);
    display: flex;
    flex-direction: column;
}