body {
    background: linear-gradient(#FFBE98, #BCB4FF);
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #ddd;
    background-color: #7FBC90;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #000000;
}
h5 {text-align: center;}

.forgot-password {
    text-align: right;
    font-size: 14px;
    margin-top: 10px;
}

.login-btn {
    margin-top: 20px;
}

.google-login {
    text-align: center;
}