.bg-primary {
    background: linear-gradient(#FFBE98, #BCB4FF);
}


.carousel-caption {
    position: absolute; 
    top: 100px; /* Cambiar bottom por top y los píxeles que necesites */
    z-index: 10;
    color: #fff;
    text-align: center;
    background-color: linear-gradient( rgba(5, 7, 75, 0.5), rgba(5, 7, 75, 0.5)); /* Añadir para conseguir el fondo con opacidad */
}

.bg-dark {
    background-color: #855CC2!important;
}

footer{
    background-color: #4EC5B6;
}

.grid {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  article {
    --gray: #8d7878fc;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    color: var(--gray);
    box-shadow:
      0.3px 0.5px 0.7px hsl(23deg 93% 31% / 0.36),
      0.8px 1.6px 2px -0.8px hsl(23deg 93% 31% / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(23deg 93% 31% / 0.36),
      5px 10px 12.6px -2.5px hsl(23deg 93% 31% / 0.36);    
  }
  

.contenidoEvent {
    aspect-ratio: 5/3;
    background-color: var(--gray);
  }
  
  h2, p {
    padding: 0 10px;
  }
  

  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }