
.texto{
    color: #43313E;
}


.imgPrincipal {
    width: 100px;
}

.iconsSocial {
   /*color: #43313E; */
   color: #855CC2;
}

.fondo {
  /*  background: linear-gradient(#FFBE98, #BCB4FF);     */
  background-color: #4EC5B6;
   
}


.btn-outline-success {
    color: #4EC5B6;
    border-color: #4EC5B6;
}

.btn-outline-success:hover {
    color: rgb(255, 255, 255);
    background-color: #4EC5B6;
    border-color: #4EC5B6;
}

 .navbar-toggler {
    
    border-color: #855CC2;
  }
  
   .navbar-toggler  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }


  .btn-primary:focus {
    color: #fff;
    background-color: #855CC2;
    border-color: #855CC2;
    box-shadow: 0 0 0 0.25rem #855CC2;
}